
files/i3/*
!files/i3/config

config/*/*
!config/aria2/aria2.conf
!config/clerk/config
!config/fcitx/config
!config/fontconfig/fonts.conf
!config/git/gitk
!config/gsimplecal/config
!config/i3blocks/config
!config/i3status/config
!config/mpd/mpd.conf
!config/pms/rc
!config/psd/psd.conf
!config/ranger/commands.py
!config/ranger/rc.conf
!config/ranger/rifle.conf
!config/ranger/scope.sh
!config/rofi-pass/rofi-pass.conf
!config/rofi-surfraw/config
!config/surfraw/conf
!config/terminator/config
!config/twmn/twmn.conf
!config/zathura/zathurarc

